* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  background-color: #f9faf8;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.nav-logo {
  color: #f9faf8;
  font-size: 24px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: #e5e7eb;
  font-size: 18px;
}

.header-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.hero-container {
  padding: 2rem;
}

.hero-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-container p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: #e5e7eb;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-section h1 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding: 4rem;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 2rem;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  border: #3882f6 3px solid;
  border-radius: 10px;
}

.card p {
  font-size: 18px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.quote-section h1 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.signUp-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 2rem 10rem;
  margin: 5rem;
}

.signUp-text {
  content: flex;
  flex-direction: column;
}

.signUp-button {
  background-color: #3882f6;
  margin-left: 10rem;
  padding: 0.25rem 2rem;
  color: #f9faf8;
  border: #f9faf8 2px solid;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 1.5rem;
}
